<section id="all_Users">
  <% @users.each do |user| %>
    <div class="user-info">
<%= image_tag(user.photo.presence || "default.jpg", class: "profile-photo") %>
        <div class="badge">
          <h1 class="text-red-700 userName"><%= user.name %></h1>
          <div class="badge-numbers">
            <h3 class="postCount">
              Number of posts: <%= user.postscounter %>
            </h3>
            <p class="viewUser">
              <%= link_to "View Profile", user_path(user.id) %>
            </p>
          </div>
        </div>
      </div>
      <br>
      <br>
    <% end %>
  </section>
